div.image img[src="axial-diagram.png"]{ 
    width:300px; 
}

div.image img[src="offset-diagram.png"]{ 
    width:300px; 
}

div.image img[src="cube-diagram.png"]{ 
    width:300px; 
}

img.inline[src="offset-diagram.png"]{ 
    width:200px; 
}
